.card_section {
    padding-top: 100px;

    .card_box {
        display: flex;
        gap: 25px;

        .card {
            background-color: #161616;
            width: 100%;
            color: #fff;
            border: 0;
            font-family: Giveny Free;
        }

        .card-title {
            font-size: 29px;
            font-weight: 400;
            text-align: center;
            padding-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 0.09em;
        }

        .card-text {
            padding-top: 20px;
            text-align: center;
            font-weight: 300;
        }
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .card_section {
        padding-top: 40px;

        .card_box {
            flex-direction: column;
            gap: 15px;
        }

    }
}

@media (max-width:768px) {
    .card_section {
        padding-top: 40px;

        .card_box {
            flex-direction: column;
        }
    }
}