@import "~bootstrap/scss/bootstrap";
// @import "./Assets/fonts/Giveny.otf";
// @import "./Assets/fonts/Giveny.ttf";
// @import "./Assets/fonts/Giveny\ Italic.otf";
// @import "./Assets/fonts/Giveny\ Italic.ttf";




body {
    margin: 0;
    padding: 0;
    background-color: #161616;
}

.donate_btn {
    font-family: Giveny;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.09em;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 40px;
    margin-top: 20px;
    text-transform: uppercase;
}