@import "~bootstrap/scss/bootstrap";
// @import "./Assets/fonts/Giveny.otf";
// @import "./Assets/fonts/Giveny.ttf";
// @import "./Assets/fonts/Giveny\ Italic.otf";
// @import "./Assets/fonts/Giveny\ Italic.ttf";




body {
    margin: 0;
    padding: 0;
    background-color: #161616;
}